@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
* {
  font-family: 'Optima';
  margin: 0;
  padding: 0;
  border: 0;

}

/* NAVIGATION STYLES */

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Garamond", serif; 
  font-size: 125%;
  font-weight: bold;
  overflow: hidden;
  background-color:#435C9D;
  position: relative;
  top: 0;
  width: 100%;

}
#myMenu li:hover {
  position:relative;
  z-index:1;
}

.buttons {
  float: left;
  z-index:1;
}

.buttons a {
  display: block;
  color:#eeeded;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.buttons a:hover {
  background-color: #345098;
  color: white;
}

.buttons {
  text-align: right;
}

/* MAIN AREA STYLING */

.main_heading {
  height: 900px;
  margin: 0;
  position: relative;
  background-color: e1dfdf;
  background-image: url('BPA Car lot front page (1).png');
  background-repeat: no repeat;
  background-size: cover; 
}

h2.slogan {
  font-size: 40px;
  text-align: center;
  color: transparent;
    -webkit-text-stroke:1px #f84444;
    font-family: 'Poppins', sans-serif;
}



/* SLIDESHOW STYLING */
.overall_slideshow {
  background-color: #435C9D;
  padding: 10px;
}

.sale {
  color: white;
  text-align: center;
  padding: 20px 0 20px 0;
  font-size: 30px;
  font-weight: 100;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: white;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* Estimator Styling */
.loan {
  padding: 35px 0;
  text-align: center; 
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 15px;
}

.loan h2 {
  padding: 10px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 30px;
}
.loan p {
  padding: 10px 0 20px 0;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 25px;
}

.estimator input {
  border: 2px solid #FC7753;
  background-color: lightgray;
  padding: 10px;
  border-radius: 3px;
}

.estimator label {
  font-size: 20px;
  padding: 10px;
  color: black;
  font-weight: 300;
}

.estimator input:hover {
  background-color: #eeeded;
  transition: 0.5s;
}

#submit{
  font-size: 15px;
  display: block;
  margin: 0 auto;
  background-color: lightblue;
  border-radius: 5px;
  padding: 10px 30px;
  opacity: 0.7;
}

#submit:hover {
  background-color: navy;
  color: white;
  opacity: 1;
  transition: 0.5s;
}


/* Hours of Operation Styling */

.hours {
  background-color: #435C9D;
  padding: 20px;
}

.hours p {
  color: white;
  text-align: center;
}

.hours th, td {
  padding: 20px 30px;
  font-size: larger;
  background: white;
}

.hours table {
  margin-left: 150px;
  padding: 20px;
  background: #435C9D;
  display: inline-block;
}

.hours p {
  font-size: 30px;
  font-weight: thin;
  padding-left: 150px;
  padding-top: 50px;
  position: absolute;
  margin: 100px 0 0 20px;
  display: inline-block;
  line-height: 50px;
}

/* Contact Us Styling */

.contacts {
  padding: 25px 0;
}

.contacts h2 {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
}

.contacts div {
  margin-top: 20px;
  display: block;
  text-align: center;

}

.contacts textarea {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 15px;
  opacity: 0.6;
}

.contacts div input {
  border: 1px solid black;
  border-radius: 5px;
  opacity: 0.6;
  padding: 15px;
}

.contacts p {
  display: block;
  text-align: center;
  margin: 20px 0;
}

.contacts button {
  display: block;
  margin: 0 auto;
  background-color: lightblue;
  border-radius: 5px;
  padding: 10px 30px;
  opacity: 0.7;
}

.contacts button:hover {
  background-color: navy;
  color: white;
  opacity: 1;
  transition: 0.5s;
}

.contacts div input:hover {
  opacity: 1;
  transition: 0.5s;
  border: 1px solid black;
}

.contacts textarea:hover {
  opacity: 1;
  transition: 0.5s;
  border: 1px solid black;
}

/* SEARCH BAR */
.search{
   z-index:2;
   margin:2.5px;
   position:absolute;
   left:77%;
 
}
#mySearch {
  box-sizing: border-box;
  margin-left: 20px;
  background-color: #FC7753;
  width: 400px;
  font-size: 18px;
  padding: 11px;
  border-radius: 5px;

}


/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;

  
}

/* Style the navigation links */
#myMenu li a {
  box-sizing: border-box;
  width: 400px;
  margin-left: 20px;
  padding: 12px;
  text-decoration: none;
  color: black;
  display:inline-block;
 
}

#myMenu li a:hover {
  background-color: #eee;
}

.searchbar {
  margin-bottom: 50px;
}
.aboutUs{
  color: white;
  background-color: #FC7753;
  padding: 20px 0 20px 0;
  display: block;
  margin: 0 auto;
  text-align:center;
}
.aboutUs h2{
  color: transparent;
    -webkit-text-stroke:1px #ffffff;
    font-family: 'Poppins', sans-serif;
}
